{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="container-sm rounded-4 my-5 py-3" style="background: #E4DCCF">
            <div class="border-bottom border-secondary">
                <h4 class="text-dark">Шинээр нэмэгдсэн зарууд</h4>
            </div>
            <div class="row d-flex justify-content-evenly">
                {% for ad in advertisement|slice(-3) %}
                    <div class="col-md-3 card my-5 fs-6">
                        <div class="card-body py-2">
                            <div class="border-secondary border-bottom">
                                <h6 class="card-title fs-5">{{ ad.title}}</h6>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_advertisement_show', {id: ad.id}) }}" class="btn btn-sm btn-secondary d-inline">дэлгэрэнгүй</a>
                            <p class="text-end d-inline ps-5">{{ ad.salary }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="rounded-2 h-100 py-5 my-3 " style=" background: linear-gradient(to right, darkslategray, gray);">
            <h1 class=" py-5 text-center text-light text-opacity-75">Ажил хайхад илүү хялбархан боллоо</h1>
        </div>
    {% endif %}
{% endblock %}
