{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ dump(_context) }}
    <section class="vh-80">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                                <form method="post">
                                    <div class="form-outline mb-5">
                                        {{ form_start(registrationForm) }}
                                        {{ form_row(registrationForm.email) }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        {{ form_row(registrationForm.agreeTerms) }}
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit"  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">register</button>
                                        {{ form_end(registrationForm) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>
{% endblock %}
