{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(advertisement) }}
    {{ form_row(advertisement.title) }}
    {{ form_row(advertisement.body) }}
    {{ form_row(advertisement.salary) }}
    {{ form_row(advertisement.user) }}
    {{ form_row(advertisement.shift) }}
    {{ form_row(advertisement.createdAt) }}
    {{ form_row(advertisement.category) }}
    <button type="submit">submit</button>
    {{ form_end(advertisement) }}
{% endblock %}

