{% extends 'base.html.twig' %}

{% block body %}

    {% for ads in advertisement %}
        <div class="card col-md-6 offset-md-3 my-5" >
            <h5 class="card-header"> {{ ads.title }} </h5>
            <i class="text-secondary"> {{ ads.createdAt|ago }}</i>
            <div class="card-body">
                <p style="font-size: 12px">{{ ads.user }}</p>
                <p style="font-size: 12px" class="">{{ ads.shift }}</p>
               <div class="d-flex justify-content-between"> <p style="font-size: 12px" class="d-inline"> {{ ads.salary }} </p>
                    <a href="{{ path('app_advertisement_show', {id: ads.id}) }}" class="btn btn-secondary btn-sm align-items-center">дэлгэрэнгүй</a>
               </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}






