{% extends 'base.html.twig' %}



{% block body %}

   <div class="card col-md-6 offset-md-3 my-5" >
      <h5 class="card-header"> {{ advertisement.title }} </h5>
      <div class="card-body">
         <div class="d-flex justify-content-sm-around text-secondary">
            <i>{{ advertisement.user }}</i>
            <hr>
            <i>created at</i>
         </div>
         <div class="d-flex justify-content-evenly text-secondary">
            <i>{{ advertisement.shift }}</i>
            <hr>
            <i>{{ advertisement.salary }}</i>
         </div>
         <div class="d-flex justify-content-evenly text-secondary">
            <i>{{ advertisement.category}}</i>
         </div>
         <p>{{ advertisement.body }}</p>
         <div class="d-flex justify-content-between">
            <a href="{{ path('app_advertisement_index') }}" class="btn btn-secondary btn-sm align-items-center">Буцах</a>
         </div>
      </div>
   </div>

{% endblock %}