{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-sm bg-secondary rounded-4 my-3 py-3">
    <div class="border-bottom border-light">
        <h3 class="text-light ms-4">Миний зарууд</h3>
    </div>
    {% for ad in myAds %}
        <div class="card m-4">
            <div class="card-header d-flex justify-content-between">
                <h5>{{ ad.title }}</h5>
                <div>
                <a href="{{ path('app_advertisement_edit',{id: ad.id}) }}"><i class="fas fa-edit px-3" style="font-size: 30px;"></i></a>
                <a href="{{ path('app_delete' , {id: ad.id}) }}"><i class="fas fa-trash px-3" style="font-size: 30px;"></i> </a>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text"><i><b>Ангилал:</b></i> {{ ad.category }}</p>
                <p class="card-text"><i><b>Ажил олгогч:</b></i> {{ ad.user }}</p>
                <p><i><b>Ажлын цаг:</b></i> {{ ad.shift }}</p>
                <div class="d-flex justify-content-between">
                    <p><i><b>Цалин:</b></i> {{ ad.salary }}</p>
                </div>
                <p class="card-text"><i><b>Дэлгэрэнгүй мэдээлэл:</b></i> {{ ad.body }}</p>
            </div>
            <div class="card-footer ">
                 </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}